@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">2C2P</h1>
    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
        <input type="file" name="postedFile" />
        <input type="submit" value="Process" />
    </form>
    <h2>@ViewBag.Message</h2>
</div>
